body, html{
  height: 100%;
  margin: 0;
  padding: 0;
 }

a, li{
  text-decoration: none;
  list-style-type: none;
}

#header{
  background-image: url('../imgs/jimi-hendrix.jpg');
  background-size: cover;
  text-align: center;
  min-height: 100vh;
}

#header nav a{
  padding: 2vh 5vw;
  font-family: 'Raleway', sans-serif;
  font-size:5vh;
  font-weight: 300;
  color: #babaca;
  text-shadow: 1px 1px 2px #4a4a67;
}

#header nav a:hover{
  color: #8686f3;
  text-shadow: 1px 1px 2px #81819c;
}

#wip{
  max-width: 100px;
  max-height: 100px;
  margin-left: -70vw;
}

#page-title{
  text-align: center;
  margin-top: 70vh;
  margin-bottom: 0;
  color: #e5ffff;
  padding: 2% 4%;
  font-size: 7vh;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  text-shadow: 1px 1px 3px #e2ccff;
} 

#intro{
  background-color: #5022dec7;
  border-top: solid 2px black;
  border-bottom: solid 2px #ff6800;
  padding-right: 10vw;
  padding-left: 10vw;
}

#intro_p{
  background-color: #ececec;
  border-radius: 10px;
  font-family: 'Bitter', sans-serif;
  font-size: 2.7vh;
  color: #666;
  padding: 1vh 2vw;
  margin: 2vh 0;
}

#link{
  font-weight: 700;
  color: #551a8b;
}

#sites{
  width: 100%;
  padding: 2vh 0;
  text-align: center;
  background-color: #f9b88b;
  border-bottom: solid 2px #14a2e2; 
}

.site{
  width: 40%;
  height: auto;
  margin: 1vh 4vh;
  display: inline-block;
}

.site a{
  margin: 0;
  padding: 0;
}

.site img{
  width: 100%;
  display: inline-block;
  border: inset 2px red;
}

.site img:hover{
  border: outset 2px red;
}

#apps{
  background-color: #5bb1d8;
}

.app{
  height: 50vh;
  padding-top: 5vh;
}

.app img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 40vh;
  width: auto;
  border: outset 2px #babaca;
}

.app img:hover{
  border: inset 2px #babaca;
}

#footer{
  text-align: center;
  padding-top: 5px;
  padding-bottom: 2px;
  background-color: #b9e6ea;
}

#footer a{
  margin-right: 10px;
  color: #0b545a;
}

#footer a img{
  max-width: 30px;
  max-height: 30px;
}

#footer p{
  margin: 0;
}



@media only screen and (max-width: 768px) {
#intro_p {
  font-size: 2.2vh;
}

#page-title {
  margin-top: 45vh;
  font-size: 4vh;
}

#wip {
  max-width: 85px;
  max-height: 85px;
  margin-left: -70vw;
}

}
